/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
    font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-text {
    font-family: sans-serif;
    color: #4e4e4e;
}
.panda-btn-primary {
    color: white;
    background-color: #ff3f84;
    border: none;
    border-radius: 5px;
}

/* #radius {
    border-radius: 30px;
} */
